<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style2.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">

        <div class="message-box">
            <h2>Chat Room Code: {{code}}</h2>
            <div class="messages" id="messages"></div>

            <div class="inputs">
           <input type="text" name="message" rows="3"  id="message" placeholder="message">
           <button type="button" onclick="sendMessage()" name="send" id="send-btn">Send</button>
            </div>
        </div>

    </div>

    <script>
        var socketio = io();

        const messages = document.getElementById("messages");

        const createMessage = (name,msg) =>{
            const content =  `
            <div class="text">
                <span class="muted1">
                    <strong class="muted3>">${name}</strong>: ${msg}
                    </span>
                    <span class="muted2">
                        ${new Date().toLocaleString()}
                        </span>
                </div>
            `;
          
            messages.innerHTML += content;
          };

          socketio.on("message",(data) => {
            createMessage(data.name,data.message);
          });



        const sendMessage = () =>{
            const message = document.getElementById("message");
            if(message.value == "") return;
            socketio.emit("message",{data:message.value});
            message.value=""; 
        };

        
    </script>

{% for msg in messages %}

<script>
    createMessage("{{msg.name}}","{{msg.message}}");
</script>

{% endfor %}
</body>
</html>